USE [master]
GO
/****** Object:  Database [chuchua]    Script Date: 14/05/2024 8:24:59 CH ******/
CREATE DATABASE [chuchua]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chuchua', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.XOAII\MSSQL\DATA\chuchua.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chuchua_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.XOAII\MSSQL\DATA\chuchua_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chuchua].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chuchua]
GO
/****** Object:  Table [dbo].[history]    Script Date: 14/05/2024 8:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[value] [decimal](18, 0) NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sensor]    Script Date: 14/05/2024 8:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sensor](
	[sid] [int] NOT NULL,
	[name] [nchar](10) NULL,
	[unit] [nchar](10) NULL,
	[value] [numeric](18, 0) NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_sensor] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[history] ON 

INSERT [dbo].[history] ([id], [sid], [value], [time]) VALUES (1, 1, CAST(3 AS Decimal(18, 0)), CAST(N'2024-04-03T00:00:00.000' AS DateTime))
INSERT [dbo].[history] ([id], [sid], [value], [time]) VALUES (7, 1, CAST(28 AS Decimal(18, 0)), CAST(N'2024-05-14T14:58:59.223' AS DateTime))
INSERT [dbo].[history] ([id], [sid], [value], [time]) VALUES (8, 1, CAST(27 AS Decimal(18, 0)), CAST(N'2024-05-14T14:59:54.983' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[history] OFF
GO
INSERT [dbo].[sensor] ([sid], [name], [unit], [value], [time]) VALUES (1, N'nhietdo   ', N'độ c      ', CAST(4 AS Numeric(18, 0)), CAST(N'2024-05-14T14:40:04.347' AS DateTime))
INSERT [dbo].[sensor] ([sid], [name], [unit], [value], [time]) VALUES (2, N'doam      ', N'phần trăm ', CAST(30 AS Numeric(18, 0)), CAST(N'2024-05-14T14:42:05.500' AS DateTime))
GO
ALTER TABLE [dbo].[history] ADD  CONSTRAINT [DF_history_time]  DEFAULT (getdate()) FOR [time]
GO
ALTER TABLE [dbo].[sensor] ADD  CONSTRAINT [DF_sensor_time]  DEFAULT (getdate()) FOR [time]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK_history_sensor] FOREIGN KEY([sid])
REFERENCES [dbo].[sensor] ([sid])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK_history_sensor]
GO
/****** Object:  StoredProcedure [dbo].[SP_Chart]    Script Date: 14/05/2024 8:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chart]
AS
BEGIN
    DECLARE @json nvarchar(max) = N'{"ok":1,"msg":"ok","data":[';

    SELECT @json += FORMATMESSAGE(N'{"id":"%d","sid":"%d","value":"%s","time":"%s"},',
                              [id], [sid], CONVERT(nvarchar(50), [value]), CONVERT(nvarchar(50), [time]))
    FROM history;

    IF RIGHT(@json, 1) = ','
    BEGIN
        SET @json = LEFT(@json, LEN(@json) - 1);
    END

    SET @json = @json + ']}';

    SELECT @json AS json;
END
GO
USE [master]
GO
